.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  .users {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .user{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
  }
}
